# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
.DS_Store
# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
# Common backup files
*.swp
*.bak
*.tmp
*.orig
*~
# Various IDEs
.project
.idea/
*.tmproj
.vscode/
# Fichiers de logs
*.log
# Fichiers de configuration d'environnement
.env
# Fichiers de compilation ou de build
*.pyc
__pycache__/
*.class

# excluding folders for pod-manager image : 
scripts/

# excluding documentations : 
documentations/